html, body {
  position:relative;
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #FFE;
  width:100%;
}
* {-webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-user-select:none;}
.body {
  position:relative;
  border: 0;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color:#A9B39F;
}
.row_solution {width:100%;position:relative;clear:both; text-align:center;}
.row_solution .solutions-items {position:relative;float:left;width:10%;height:10%;}
.row_solution .solutions-items.selected {background-color:black;color:white;}
.solutions-items {
border:1px solid black;
}
.tutorial {
	position:absolute;
}
#screen {
position: relative;
width: 1131px;
height: 700px;
margin: 0 auto;
top:0px;
}
#righttoolbar {
position: relative;
width:231px;
height:700px;
float:right;
top:0px;
overflow:hidden;
background-color: #465dab;
border-radius:20px;
}
.righttoolbar-logo img {
	width:231px;
}
.righttoolbar-smilies {
position: relative;
width:201px;
height:100px;
margin: 0 auto;
text-align: center;
}
.righttoolbar-smilies .happy,
.righttoolbar-smilies .sad{
	float:left;
	position:relative;
	background-image:url(frame_smilly.png);
	width:91px;
	height:93px;
}
.righttoolbar-solution {
	
	margin:0 auto;
	position:relative;
	background-image:url(frame_goal.png);
	width:201px;
	height:204px;


}
.righttoolbar-smilies .sad {margin-left:15px;}

.righttoolbar-smilies img {width:100px;}
.righttoolbar-heart-wrapper {
position: relative;
width:201px;
height:257px;
margin:0 auto;
background-image:url(frame_heart.png);
text-align: center;
}
.righttoolbar-heart-wrapper img {position:relative;top:30px;margin:0 auto;}
#sprites {
position:relative;
margin:0 auto;
width:900px;
top:0px;
float:left;
/*overflow: hidden;*/

/*
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-top: -240px;
  margin-left: -160px;
  width: 640px;
  height: 640px;*/
/*  width: 1024px;
  height: 640px;*/
  /*background: url(logo.png) center no-repeat;*/
}
.righttoolbar-players {position:relative;text-align:center;height:87px;}
.righttoolbar-players img {
position:reltive;
margin:0 auto;

}
#sprites div {

  position: absolute;
/*  background: url(sprites.png);*/
  width: 90px;
  height: 90px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: linear;
	transform: translate(900px, 0);
	-o-transform: translate(900px, 0);         /* Opera */
	-ms-transform: translate(900px, 0);        /* IE 9 */
	-moz-transform: translate(900px, 0);       /* Firefox */
	-webkit-transform: translate(900px, 0);    /* Safari and Chrome */
	text-align:center;
	color:#fff;
  line-height:60px;
  font-size:40px; 

-moz-box-shadow: 3px 3px 4px #444;
  -webkit-box-shadow: 3px 3px 4px #444;
  box-shadow: 3px 3px 4px #444;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');

}
#sprites .highlight { background-position: 0px 0px; }
#sprites .space { 
	background:url('Tile_Empty.png');
	background-size:90px 90px;


}
#sprites .land { 
	background:url('Tile_Full.png');
	background-size:90px 90px;



 }
#sprites div.building { 
	background:url('building_001.png');
	background-size:90px 90px;
 }
#sprites div.population1 {
	background-image:url('1Peeps.png'), url('building_001.png'),url(Tile_with_house.png);
	background-size:90px 90px,90px 90px,90px 90px;
	position:center center, 10px 10px, center bottom;
}
#sprites div.population2 { 	
	background-image:url('2Peeps.png'), url('building_002.png'),url(Tile_with_house.png);
	background-size:90px 90px,90px 90px,90px 90px;
	position:center center, 10px 10px, center bottom;
 }
#sprites div.population3 { 
	background-image:url('3Peeps.png'), url('building_003.png'),url(Tile_with_house.png);
	background-size:90px 90px,90px 90px,90px 90px;
	position:center center, 10px 10px, center bottom;
 }
/*#sprites .red { background-position: 0px 448px; }
#sprites .purple { background-position: 0px 320px; }
#sprites .blue { background-position: 0px 256px; }
#sprites .orange { background-position: 0px 192px; }
#sprites .green { background-position: 0px 128px; }
#sprites .yellow { background-position: 0px 64px; }*/

#sprites div.statusbar {
	position:relative;
	top:0px;
	margin:0 auto;
	width:80%;
	color:#fff;
	text-align:center;
	font-size:10px;
	line-height:10px;
	background:none;
}
#sprites div.statusbar div {
	position:relative;
	float:left;
	width:20%;
	font-size:10px;
	background:none;
	line-height:10px;
}
#sprites div.statusbar h2 {
	clear:none;
	padding:0;
	margin:0;
	display:inline;
	line-height:10px;
	font-size:10px;
}
.box {
	
	position:absolute;
	margin:0 auto;
	padding:10px 0 ;
	width:70%;
	height:auto;
	top:opx;
	z-index:10;
	background:#FFD;
	text-align:center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	opacity:0.8;
	display:none;
}
#chooseType.box {	position:absolute;display:block;} 
.box span{
	padding:5px 10px;
	font-size:30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}
.box span:hover {
	background: #ccc;
	cursor: pointer;
	cursor: hand;
}

